<a href="https://colab.research.google.com/github/shumrutha/240901104-python/blob/main/240901104-data%20cleaning%20and%20preparation-DATA%20FRAME.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random .randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original Dataframe with NaN
         one       two     three
a  0.312641  0.369056 -1.072274
b       NaN       NaN       NaN
c -2.162899 -0.850115  0.800657
d -0.515327  1.085870  0.137125
e       NaN       NaN       NaN
f -0.760829  0.007648 -0.426468


Dropped DataFrame
         one       two     three
a  0.312641  0.369056 -1.072274
c -2.162899 -0.850115  0.800657
d -0.515327  1.085870  0.137125
f -0.760829  0.007648 -0.426468

In [5]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','d','c'])
print("Original Dataframe:\n",df)
print("\n")
print("NaN replaced with '0'.\n")
print(df.fillna(0))

Original Dataframe:
         one       two     three
a -0.360233 -0.068111 -0.245497
d -1.033953  0.806617  1.246415
c  0.168579  0.306124 -1.141110


NaN replaced with '0'.

        one       two     three
a -0.360233 -0.068111 -0.245497
d -1.033953  0.806617  1.246415
c  0.168579  0.306124 -1.141110

In [6]:
df=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})
print("Original Dataframe:\n",df)
print("\n DataFrame with replaced values:\n ")
print(df.replace({10:5,80:3}))

Original Dataframe:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [7]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("original Dataframe:\n",df)
print("\nNan-with True fill:\n")
print(df['one'].isnull())

original Dataframe:
         one       two     three
a -0.988366  1.365956  0.469443
b       NaN       NaN       NaN
c -0.424594 -1.883018  0.755079
d  1.533111  0.445763 -0.131807
e       NaN       NaN       NaN
f -1.244541 -0.645879 -1.036981

Nan-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [9]:
df=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})
print("Original Dataframe:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

Original Dataframe:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5