<a href="https://colab.research.google.com/github/shumrutha/240901104-python/blob/main/240901104_STORE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
                index=['one','two','three'],
                columns=['a','b','c'])
print(df)

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [4]:
#Taking the input from DataFrame anf storing in the Exel file
print("Taking the input from data frame and storing in the exel file")
df.to_excel('pandas_to_excel.xlsx',sheet_name='new_sheet_name')

Taking the input from data frame and storing in the exel file

In [6]:
#second dataframe input to another Exel file
d=pd.DataFrame([[110,210,320],[12,220,320],[310,320,330]],index=['four','five','six'],columns=['a','b','c'])
d.to_excel('pandas_to_excell.xlsx',sheet_name='new_sheet_name')

In [9]:
#merging two Excel files input into third file
x=pd.read_excel('pandas_to_excel.xlsx')
y=pd.read_excel('pandas_to_excell.xlsx')
z=pd.concat([x,y])
z.to_excel('pandas_to_excel3.xlsx')

In [10]:
#sorting the column values
df=z.sort_values(["a"])
print(df)
df.to_excel('pandas_to_excel4.xlsx')

  Unnamed: 0    a    b    c
0        one    1    2    3
1        two    4    5    6
2      three    7    8    9
1       five   12  220  320
0       four  110  210  320
2        six  310  320  330

In [11]:
df=pd.read_excel('pandas_to_excel4.xlsx')
print(df)
print(list(df))
print(format(len(df)))

   Unnamed: 0.1 Unnamed: 0    a    b    c
0             0        one    1    2    3
1             1        two    4    5    6
2             2      three    7    8    9
3             1       five   12  220  320
4             0       four  110  210  320
5             2        six  310  320  330
['Unnamed: 0.1', 'Unnamed: 0', 'a', 'b', 'c']
6