<a href="https://colab.research.google.com/github/shumrutha/240901104-python/blob/main/240901104%20pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
#Empty Datframe
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [32]:
emp=pd.Series(['parker','john','smith','william'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to Data frame\n")
print(result)

Series to Data frame

       Emp   ID
0   parker  102
1     john  107
2    smith  109
3  william  114

In [33]:
print("\n Extracting one column:\n")
print(result['Emp'])

 Extracting one column:

0     parker
1       john
2      smith
3    william
Name: Emp, dtype: object

In [34]:
print("\n Adding new column:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

 Adding new column:

       Emp   ID  Age
0   parker  102   35
1     john  107   24
2    smith  109   40
3  william  114   38

In [35]:
print("\nDelete one column:\n")
del result['Age']
print(result)

Delete one column:

       Emp   ID
0   parker  102
1     john  107
2    smith  109
3  william  114

In [36]:
print("\nExtracting the third row:\n")
print(result.loc[2])

Extracting the third row:

Emp    smith
ID       109
Name: 2, dtype: object

In [37]:
print("\n Slice rows: \n",result[1:3])

 Slice rows:
      Emp   ID
1   john  107
2  smith  109

In [38]:
d2=pd.DataFrame([['Dale',123],['mark',143]],columns=['Emp','ID'])
result=pd.concat([result,d2],ignore_index=True)
print("\n Adding new row values:\n",result)

 Adding new row values:
        Emp   ID
0   parker  102
1     john  107
2    smith  109
3  william  114
4     Dale  123
5     mark  143

In [40]:
print("\nDeleting particular row:\n",result.drop(1))

Deleting particular row:
        Emp   ID
0   parker  102
2    smith  109
3  william  114
4     Dale  123
5     mark  143